<div class="card rounded-0 text-white">
  <%= image_tag("goat.png", class: "card-img") %>
  <div class="card-img-overlay overlay-dark d-flex flex-column justify-content-center">
      <p class="card-text text-center spaced-letters"><small><%= "Bei uns leben unter anderem".upcase %></small></p>
      <h4 class="card-title text-center spaced-letters mt-n3"><strong><%= "11 Kühe und Ochsen".upcase %></strong></h4>
    <p class="card-text text-center mt-3">
      <%= link_to root_path do %>
        <button type="button" class="btn btn-c-color btn-sm spaced-letters text-nowrap rounded-0">MEHR ERFAHREN <%= fa_icon "chevron-right", class: "ml-2" %></button>
      <% end %>
    </p>
  </div>
</div>
