<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>
      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <div class="text-justify text-darker-base-color">
  <p><strong>Die Stiftung hat es sich zur Aufgabe gemacht,</strong>
</p>
<ul>
	<li/>
<p style="margin-bottom: 0cm">die Umsetzung des
	verfassungsrechtlich verankerten Schutzes der Würde<br/>
der
	Kreatur voranzutreiben;
	</p>
	<li/>
<p style="margin-bottom: 0cm">die Stellung des Tieres als
	Mitgeschöpf zu festigen und
	</p>
	<li/>
<p>als Konsequenz aus den ersten beiden Aufgaben die Tiere vor
	Ausbeutung<br/>
und Missbrauch zu schützen und ihnen - wo immer
	nötig – beizustehen
	</p>
</ul>
<p><br/>
<strong>Zur Erfüllung dieser Aufgaben,</strong>
</p>
<ul>
	<li/>
<p style="margin-bottom: 0cm">nimmt die Stiftung politisch und
	gesellschaftlich Einfluss, um die rechtlich<br/>
oder faktisch dem
	Tier zugewiesene Position den artspezifischen Bedürfnissen gemäss
	zu verbessern und den Tieren aus der Abhängigkeit menschlicher
	Nutzungsinteressen zu verhelfen;
	</p>
	<li/>
<p style="margin-bottom: 0cm">setzt sie sich auch im
	Einzelfall dafür ein, dass der dank der Bemühungen vieler
	Mitmenschen bisher erreichte Tierschutzstandard nicht toter
	Buchstabe bleibt oder dazu verkommt;
	</p>
	<li/>
<p style="margin-bottom: 0cm">bietet sie Tierhaltern,
	Behörden, Schulen und weiteren Interessierten<br/>
Beratung an;
	</p>
	<li/>
<p style="margin-bottom: 0cm">hält sie Kontakt mit Medien,
	anderen Tierschutzorganisationen und Behörden, um Missstände
	effizient und dauerhaft zu bekämpfen und
	</p>
	<li/>
<p>verpflichtet sie sich, agil zu bleiben, um sich jederzeit
	anderer der Zweckerreichung dienlicher Instrumente zu bedienen und
	neue Wege bei der Bewältigung der gestellten Aufgaben zu gehen
	</p>
</ul>
<hr />
  <div class="text-center mt-4">
    <h1>Die Stiftungsgründer</h1>
    <%= image_tag("stiftungsgruender.png", class: "img-fluid mb-4") %>
  </div>
  <div>
  	<div>
  		<div>
  			<p align="justify"><strong>Die Stiftungsgründer</strong>
  			engagieren sich seit Jahren sowohl im institutionellen als auch im
  			individuellen Tierschutz. Hierzu gehören Aufklärungs- und
  			Beratungsarbeit, politische und juristische Vorstösse sowie die
  			konkrete Hilfe in Notfällen. Zwar mag der Einsatz für Individuen
  			vom Grundsatz her, dass ein Übel bei der Wurzel bekämpft werden
  			sollte, zunächst wenig sinnvoll erscheinen, weil die Rettung
  			eines einzelnen Lebewesens höchstens mittelbar, nämlich durch
  			das Wirken als Botschafter seiner Art, Tierleid erzeugende
  			Strukturen zu ändern vermag.
  			</p>
  			<p align="justify">Jedoch verlangt die gesamtheitliche Betrachtung
  			nach Ansicht der Stiftungsgründer auch den Einsatz für den
  			Einzelnen, was spätestens dann leicht erkennbar wird, wenn der
  			Fokus des betroffenen Individuums zum Massstab wird.&nbsp;
  			</p>
  			<p align="justify">Im Übrigen ist es eine Binsenweisheit, dass
  			der Mensch zumeist nur zu schützen bereit ist, was er kennt und
  			insofern sind die Einzelschicksale eben tatsächlich
  			unverzichtbare Quellen der Empathie.&nbsp;
  			</p>
  		</div>
  	</div>
  	<div>
  		<div>
  			<p align="justify" style="line-height: 150%">In der Schweiz setzen
  			sich diverse Einrichtungen und Institutionen&nbsp;in
  			verdankenswerter Weise für das Wohl von in Not geratenen
  			Heimtieren ein.&nbsp;Für die Nutztiere hingegen stehen die
  			Chancen um ein Vielfaches schlechter. Dies lässt sich zum einen
  			leicht aus der Bezeichnung selbst erklären, sind diese Lebewesen
  			doch dazu bestimmt, mit ihrem Fleisch oder (zuvor) ihrer
  			Verwendung zu Sport-, Freizeit- und Prestigezwecken dem Menschen
  			zu &quot;nützen&quot;.&nbsp;Zum anderen wachsen die
  			Schwierigkeiten in punkto Unterbringung, Finanzierung und
  			Wieder-Platzierung mit der Grösse des Tieres unweigerlich, so
  			dass bei ökonomischer Betrachtung der Einsatz für ein Grosstier
  			kaum zu rechtfertigen ist, könnte doch einer Vielzahl von kleinen
  			Tieren an dessen statt geholfen werden.
  			</p>
  			<p align="justify">
  Die Stiftungsgründer haben sich nichts
  			desto trotz dafür entschieden, im Bereich des
  			Individualtierschutzes das Augenmerk auf die Nutztiere zu legen,
  			ohne aber die übrigen Geschöpfe aus dem Blickfeld zu verlieren.
  			Sie sind zu 100% berufstätig und betreiben ihr
  			Stiftungs-engagement nebenberuflich und ehrenamtlich.
  			</p>
  			<p align="justify">&nbsp;
  			</p>
  		</div>
  	</div>
  </div>
  <hr />
  <h1 class="text-center">Impressionen</h1>
  <div class="text-center">
    <div class="embed-responsive embed-responsive-16by9">
      <%= get_video_iframe("https://www.youtube.com/watch?v=rRZ8ap_DMPE") %>
    </div>
  </div>
  <hr />
  <div>
  	<h1 class="text-center">Stiftungsrat</h1>
  </div>
    <div id="cc-m-7856411986" dir="ltr">
    	<div id="cc-matrix-1893807686" dir="ltr">
    		<div id="cc-m-6760353586" dir="ltr">
    			<p align="left">Stiftungsratsmitglieder sind derzeit gemäss
    			Stiftungsurkunde die beiden Stiftungsgründer:<br/>
          <br/>
          <strong>Claudia
    			Steiger</strong>, Rechtsanwältin und Mediatorin SAV
    			(Stiftungsratspräsidentin)<br/>
          <br/>
          <strong>Christof Zimmerli</strong>,
    			Jurist (Vizepräsident)
    			</p>
    		</div>
    	</div>
    </div>
    </div>
  </div>
  <%= render "team_members/index", team_members: TeamMember.all %>
</div>
