<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color">Kontakt</h1>
    </div>
    <div class="text-justify text-darker-base-color">
      <p align="center">Bitte lesen Sie zuerst unsere <%= link_to "FAQ's", faq_path %>
  </p>
  <p align="center">Sollten Sie weitere Fragen oder Anregungen haben,
  freuen wir uns über Ihre Kontaktaufnahme.
  </p>
  <p class="text-center">
    <ul>
      <li>
        Für Tieraufnahmen nutzen Sie bitte das
        entsprechende Formular für <%= link_to "Tieraufnahme", new_home_offer_path %>
      </li>
      <li>
        Für Tierabgaben nutzen Sie bitte das entsprechende
        Formular für <%= link_to "Tierabgabe", new_home_request_path %>
      </li>
      <li>
        Patenschaften können Sie abschliessen, indem Sie sich <%= link_to "unsere Tiere", animals_path %>
        anschauen und bei einem Tier, von dem Sie gerne ein Pate werden möchten, auf das Feld "Pate werden!" drücken.
      </li>
    </ul>
  </p>
  <hr />
  <p class="text-center">
    <strong>Für anderweitige Anfragen können Sie uns wie folgt kontaktieren:</strong>
  </p>
  <p class="text-center">
    Stiftung Tiere in Not - Animal Help <br />
    c/o Krepper Spring Partner <br />
    Sophienstrasse 2<br />
    8032 Zürich
  </p>
  <p class="text-center">
    Festanschluss: 0041 (0)52 654 33 33 <br />
    <%= mail_to "info@stinah.ch" %>
  </p>
    </div>
  </div>
</div>
