<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <div class="text-justify text-darker-base-color">
<div id="cc-m-6930836386" dir="ltr">
	<p>Möchten Sie sich in Form von konkreter Tierschutzarbeit
	engagieren?&nbsp;<br/>
<br/>
Stinah bietet die Möglichkeit, im
	Rahmen von Praktikas (minimale Dauer 3 Monate) konkreten Einsatz für
	Tiere zu leisten und Erfahrungen in der Tierbetreuung (v.a. Pferde)
	zu sammeln. Unterkunft mit Küche/Dusche/WC vorhanden.<br/>
<br/>
Weitere
	Informationen bzw. Bewerbungen per <%= mail_to "info@stinah.ch", "info@stinah.ch", subject: "Praktikum bei Stinah", body: "Sehr geehrte Damen und Herren." %> oder
	unter 052 654 33 33.
	</p>
</div>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
      <hr />
      <p style="margin-bottom: 0cm; line-height: 100%"><a name="cc-m-textwithimage-image-6930852386"></a>

      </p>
      <div id="cc-m-6930852386" dir="ltr">
      	<div id="cc-m-textwithimage-6930852386" dir="ltr">
          <div class="text-center">
            <%= image_tag("annemarie-woehler.jpg", class: "img-fluid mb-4") %><br />
            <strong>Erfahrungsbericht Annemarie Wöhler</strong>&nbsp;<br/>
          </div>
      		<p>
      <br/>
      Erfahrungsreich,
      		erfüllend, anstrengend und lustig... dies sind die Worte, die mir
      		spontan zu meiner Praktikumszeit einfallen. Mein Praktikum
      		absolvierte ich bei Stinah im März 2011, 9 Arbeitsstunden täglich
      		an 5 Tagen pro Woche, über 4 Wochen lang.&nbsp;<br/>
      <br/>
      Ich bin
      		gelernte Tierarzthelferin und studiere seit 2009 Tiermedizin in
      		München, hatte aber bis dahin wenig Erfahrungen mit Pferden.
      		Besonders der Tierschutzgedanke motivierte mich, den Hof und die
      		Arbeit dort kennenzulernen sowie etwas für die Gnadenhoftiere zu
      		tun.<br/>
      <br/>
      Zu Beginn war es für mich eine ziemliche
      		Umstellung von der meist sitzenden und lernenden Studentin hin zur
      		&quot;Vollzeitpferdepflegerin&quot;. Solch körperlich anstrengende
      		Arbeit war ich nicht gewohnt. Auch dauerte es einige Zeit, bis ich
      		mir den täglichen Ablauf und vor allem die vielen Tiernamen merken
      		konnte.&nbsp;<br/>
      <br/>
      Zu meinen täglichen Aufgaben gehörten
      		Pferdepflege, Misten, Spaziergänge mit Pferden und Hunden,
      		Versorgung der Hühner und einige tiermedizinische Tätigkeiten wie
      		Entwurmung der Katzen, Versorgung von Wunden, wenn sich z.B. der
      		liebe Dackel im Fuchsbau verirrt hatte.&nbsp;<br/>
      <br/>
      Sehr gut
      		gefallen hat mir die Arbeitsstruktur auf dem Hof. Für jeden
      		Mitarbeiter gab es zur Orientierung einen täglichen Arbeitsplan.
      		Es war einfach ein gutes Gefühl, abends mit einem Blick zu sehen,
      		was man an diesem Tag alles geleistet hatte. Zusätzlich gab der
      		Plan Sicherheit, keine Aufgaben vergessen zu haben.&nbsp;<br/>
      <br/>
      Ich
      		fühlte mich schnell als ein Teil des Teams. Wenn ich Fragen hatte,
      		nahmen sich Claudia und Christof oder jemand aus dem Team immer
      		Zeit, mir diese zu beantworten. Mir wurde in dieser Zeit viel
      		Verantwortung übertragen, ich habe mich ernst genommen gefühlt
      		und ich hatte das Gefühl willkommen zu sein.<br/>
      <br/>
      Neben der
      		harten körperlichen Arbeit kam aber auch der Spass nicht zu kurz!
      		Wie erhofft bot mir der Aufenthalt die Möglichkeit, hautnah mit
      		Pferden in Kontakt zu treten. Ich lernte sie zu pflegen und erfuhr
      		viel über ihr Verhalten untereinander und über die spezifische
      		Interaktion Pferd-Mensch. Es war mir durch meine praktische Arbeit
      		mit Tieren gelungen, einen Ausgleich zu dem noch sehr theoretischen
      		Studium zu finden. Gleichzeitig spürte ich, dass ich beruflich den
      		richtigen Weg eingeschlagen habe.
      		</p>
      	</div>
      </div>
      <div id="cc-m-6930864286" dir="ltr">
      	<hr/>

      </div>
      <div id="cc-m-6930857286" dir="ltr">
      	<p style="margin-bottom: 0cm; line-height: 100%"><a name="cc-m-textwithimage-image-6930857286"></a>

      	</p>
      	<div id="cc-m-textwithimage-6930857286" dir="ltr">
          <div class="text-center">
            <%= image_tag("merle-bortz.jpg", class: "img-fluid mb-4") %><br />
            <strong>Erfahrungsbericht Merle Bortz</strong>&nbsp;<br/>
          </div>
      <br/>
      Ich
      		habe ein Praktikum über anderthalb Monate bei Stinah gemacht. Ich
      		war vom ersten Moment an begeistert. Ich habe viel über
      		Pferdeverhalten in der Herde gelernt und wie sie sich untereinander
      		verständigen. Aber auch wie ich mich selber in einer Pferdegruppe
      		zu verhalten habe.&nbsp;<br/>
      <br/>
      Pferdepflege und die Pferde
      		bewegen hat mir besonders Spass gemacht, da ich so die einzelnen
      		Charaktere kennenlernen durfte und sich die Pferde bei den Massagen
      		entspannten. Zusätzlich habe ich tolle Leute kennengelernt, die
      		mich super in ihr Team aufgenommen haben und mir sehr viel zeigen
      		konnten.&nbsp;<br/>
      <br/>
      Die Pflege von Hühnern war mir bis dahin
      		unbekannt, doch sogar der Hahn ist mir schnell sympathisch
      		geworden. Das Hunde Ausführen gehörte oft zu meinen Aufgaben und
      		da ich selber einen Hund hatte, hatte ich keine Probleme super mit
      		den Hunden klar zu kommen.&nbsp;<br/>
      <br/>
      Ich fühlte mich wohl
      		und geborgen auf dem Talhof und auch meine Mitbewohnerin ist mir
      		schnell ans Herz gewachsen. Ich hoffe, dass ich noch einmal die
      		Gelegenheit finde, ein weiteres Praktikum bei der Stiftung zu
      		machen.
      		</p>
      	</div>
      </div>
      <div id="cc-m-6930864086" dir="ltr">
      	<hr/>

      </div>
      <div id="cc-m-6930860086" dir="ltr">
      	<p style="margin-bottom: 0cm; line-height: 100%"><a name="cc-m-textwithimage-image-6930860086"></a>

      	</p>
      	<div id="cc-m-textwithimage-6930860086" dir="ltr">
          <div class="text-center">
            <%= image_tag("thomas-rottler.jpg", class: "img-fluid mb-4") %><br />
            <strong>Erfahrungsbericht Thomas Rottler</strong>&nbsp;<br/>
          </div>
      		<p>
      <br/>
      In
      		meiner „normalen“ Tätigkeit als Probenehmer war ich es nicht
      		gewohnt, durchgängig körperliche Arbeit zu leisten und so früh
      		aufzustehen. Nach einer Woche konnte ich mich gut daran anpassen.
      		Die größte Herausforderung war gleichzeitig zur körperlichen
      		Arbeit ein Zeitmanagement zu führen, sich die Namen der Tiere zu
      		merken und die Arbeitsabläufe zu studieren, damit man sich gut im
      		Team integrieren kann.&nbsp;<br/>
      <br/>
      Bevor ich das Praktikum
      		gemacht habe wusste ich nichts über soziales Verhalten von Hühnern
      		und Pferden. Aber dadurch dass ich so intensiv in den Alltag der
      		Tiere eingebunden war und die Pferde sich frei auf dem Hof bewegen
      		können, habe ich viel darüber gelernt. Erstaunlicherweise ist
      		dass eher nebenbei passiert. Meine Hauptaufmerksamkeit hat sich
      		durch eine gut koordinierte Arbeitsvorgabe darauf gerichtet schnell
      		und effektiv zu arbeiten. Das war in der Übergangsphase sehr
      		fordernd aber dank der geduldigen Mitarbeiter machbar.&nbsp;<br/>
      <br/>
      Es
      		gab Momente, an denen ich an mir zweifelte, weil ich Fehler gemacht
      		habe und meine Arbeitsqualität nicht befriedigend war. Zum Glück
      		habe ich mich dann daran erinnert, dass die Tiere hier nicht mehr
      		leben würden, wenn es nicht so engagierte Leute wie Claudia und
      		Christof gäbe. Das gab mir Kraft und Ausdauer um motiviert
      		weiterzumachen.&nbsp;<br/>
      <br/>
      Ich habe noch nie einen Hof wie
      		diesen gesehen, wo die Tiere so artgerecht behandelt werden und
      		hoffe dass noch mehr Menschen die Stiftung unterstützen, egal wie.
      		Wie diesen schwachen Moment gibt es auch sehr angenehme
      		Erinnerungen aus dieser kurzen aber intensiven Zeit. Ich denke da
      		an: den Anblick des sauberen Hofs nach dem Morgenstall, das
      		friedliche Gackern der Hühner, die überglücklichen Pferde wenn
      		sie auf die Weide heraus galoppieren, das gemeinsame Essen und
      		scherzen mit Claudia und Christof und vieles mehr.
      		</p>
      	</div>
      </div>

    </div>
  </div>
</div>
