<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <div class="text-justify text-darker-base-color">
<div id="cc-m-6930836386" dir="ltr">
	<p>Möchten Sie sich in Form von konkreter Tierschutzarbeit
	engagieren?&nbsp;<br/>
<br/>
Stinah bietet die Möglichkeit, im
	Rahmen von Praktikas (minimale Dauer 3 Monate) konkreten Einsatz für
	Tiere zu leisten und Erfahrungen in der Tierbetreuung (v.a. Pferde)
	zu sammeln. Unterkunft mit Küche/Dusche/WC vorhanden.<br/>
<br/>
Weitere
	Informationen bzw. Bewerbungen per <%= mail_to "info@stinah.ch", "info@stinah.ch", subject: "Praktikum bei Stinah", body: "Sehr geehrte Damen und Herren." %> oder
	unter 052 654 33 33.
	</p>
</div>

<% if is_current_user_admin? %>
  <div class="text-center">
    <%= link_to 'Neuer Eintrag', new_testimonial_path, class: "btn btn-primary my-2" %>
  </div>
<% end %>
<%= render partial: "testimonials/show", collection: @testimonials, as: :testimonial %>

    </div>
  </div>
</div>
