<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>
      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
      <p class="lead text-darker-base-color my-4">
        Willkommen bei "Rettet das Huhn!", ein Engagement von Stiftung Tiere in Not - Animal Help
      </p>
      <div class="text-darker-base-color text-justify">
        <p>
          Wir freuen uns, dass Sie uns hier besuchen und danken Ihnen für das Interesse. Wenn Sie ausrangierten Legehennen einen schönen Lebensplatz schenken möchten, kontaktieren Sie uns am besten über unser Kontaktformular.
        </p>
        <p>
          Auf diesen Seiten dreht sich alles um die Hühner. Mit unserem Motto "Wegschauen war gestern!" möchten wir auch möglichst viele Menschen erreichen und aufzeigen, was für ein schreckliches Leiden Legehennen tagtäglich durchleben und dass jeder einen Beitrag dazu leisten kann, diesem Wahnsinn ein Ende zu setzen.
        </p>
      </div>
    </div>
    <%= render "shared/welcome_thumbnail_carousel", image_names: ["chicken.png", "chicken_eating.jpeg", "chicken_free.jpg"] %>
    <%#= render "shared/simple_gallery" %>
</div>

  <div class="jumbotron bg-white my-4">
    <% if is_current_user_admin? %>
      <div class="text-center">
        <%= link_to 'Neuer Eintrag', new_post_path, class: "btn btn-primary" %>
      </div><hr />
    <% end %>
    <h1 class="text-center text-darker-base-color">Neuigkeiten</h1>
    <%= render partial: "posts/show", collection: @posts, as: :post %>
  </div>

</div>
