<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
      <p class="lead text-darker-base-color my-4">Hier finden Sie Informationen über die Stiftung, ihre Zielsetzung und ihr Engagement.</p>
      <p class="lead text-darker-base-color my-4">Für Ihr Interesse und Ihren Einsatz zugunsten der Tiere danken wir Ihnen herzlich!</p>
    </div>
    <%= render "shared/welcome_thumbnail_carousel" %>
    <%#= render "shared/simple_gallery" %>
</div>

  <div class="jumbotron bg-white my-4">
    <% if is_current_user_admin? %>
      <div class="text-center">
        <%= link_to 'Neuer Eintrag', new_post_path, class: "btn btn-primary" %>
      </div><hr />
    <% end %>
    <h1 class="text-center text-darker-base-color">Neuigkeiten</h1>
    <%= render partial: "posts/show", collection: @posts, as: :post %>
  </div>

</div>
