
<section class="horse-enter-bg">
  <%= render "layouts/navigation" unless controller_name == "save_the_chicken" %>
    <div class="container d-flex align-items-end h-75">
      <div class="d-none d-md-block">
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      </div>
    </div>
</section>

<div class="container mb-3">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card text-white a-color mb-3 mt-n6 pb-2 p-2 rounded-0">
        <div class="card-body">
          <p class="spaced-letters">
            <strong>HERZLICH WILLKOMMEN</strong>
            <hr align="left" width="10%" class="bg-light">
          </p>
          <p class="card-text">Die Stiftung Tiere in Not - Animal Help (Stinah) setzt sich dafür ein, dass die Stellung der Tiere als Mitlebewesen gefestigt wird. Auf unserem Lebenshof bieten wir über 100 Tieren einenPlatz, an dem sie vor Ausbeutung geschützt sind und ein Leben in Würde führen können.</p>
          <p class="card-text">
            <strong>
              Für Ihr Interesse und Ihren Einsatz für Tiere danken wir Ihnen herzlich!
            </strong>
          </p>
        </div>
      </div>
      <%= image_tag("pig_cute.png", class: "img-fluid mt-n3") %>
    </div>

    <div class="col-md-8 col-sm-12 d-flex ">
      <div class="row">
      <div class="col-12 mb-5">
        <div class="mt-n7 p-2">
          <div class="float-right mr-5">
            <%= link_to support_path do %>
              <button type="button" class="btn c-color btn-circle btn-xl text-white spaced-letters">
                <strong>JETZT<br /> SPENDEN <br /></strong>
                <hr align="center" width="20px" class="bg-light">
              </button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="align-self-end">
        <div class="col-12">
            <%= render "posts/horizontal_card", post: Post.last %>
        </div>
      </div>


      </div>

    </div>
  </div>
</div>

  <%= render "static_pages/card_columns" %>

  <div class="container-fluid pate-bg">

  </div>

  <div class="container-fluid f-color pt-5">
    <div class="container">
      <h5 class="spaced-letters text-white mb-4"><%= "Wie Sie uns auch noch unterstützen können".upcase %></h5>

      <div class="card-deck">
        <%= render "static_pages/info_card3" %>
        <%= render "static_pages/info_card3" %>
        <%= render "static_pages/info_card3" %>
      </div>
    </div>

  </div>
