<div class="container">

  <%#= render "shared/news_images", posts: @posts %>
  <%#= render "posts/card_with_overlay", post: @posts.first %>

  <div class="row no-gutters">
    <div class="col-md-6 col-sm-12">
      <div class="card h-100">
        <div class="hovereffect">
            <%= image_tag "pig_cute.png", class: "card-img h-100" %>
            <div class="card-img-overlay d-flex align-items-end">
              <h3 class="card-title text-white">Unsere Tiere</h3>
            </div>
            <div class="overlay">
               <h2>Unsere Tiere</h2>
               <%= link_to "Entdecken", animals_path, class: "info" %>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6 d-none d-md-block">
      <div class="row no-gutters">
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "stiftungsgruender.png", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">Über STINAH</h3>
                </div>
                <div class="overlay">
                   <h2>Über STINAH</h2>
                   <%= link_to "Mehr erfahren", about_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "chicken_free.jpg", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">STINAH unterstützen!</h3>
                </div>
                <div class="overlay">
                   <h2>STINAH unterstützen!</h2>
                   <%= link_to "Mithelfen", support_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "cow.png", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">Tier - Vermittlung</h3>
                </div>
                <div class="overlay">
                   <h2>Tiervermittlung</h2>
                   <%= link_to "Tiere abgeben oder aufnehmen", newhome_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "chicken_eating.jpeg", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">Rettet das Huhn!</h3>
                </div>
                <div class="overlay">
                   <h2>Rettet das Huhn!</h2>
                   <%= link_to "Informieren", save_the_chicken_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-4">

  </div>

  <%= render 'animals/animals_in_need_of_sponsorship' unless AnimalsSearch.new(search_inputs: {sponsorship_status: "without_sponsorship"}).search.empty? %>

  <div class="my-4">

  </div>

  <div class="row">
      <div class="col-12 col-lg-8">
        <% if is_current_user_admin? %>
          <div class="text-center">
            <%= link_to 'Neuer Eintrag', new_post_path, class: "btn btn-primary" %>
          </div><hr />
        <% end %>
        <h3 class="text-darker-base-color">Aktuell</h3>
        <%= render partial: "posts/side_image_show", collection: @posts, as: :post %>
      </div>
      <div class="col-12 col-lg-4">
        <% if is_current_user_admin? %>
          <div class="text-center">
            <%= link_to 'Neuer Eintrag', new_event_path, class: "btn btn-primary" %>
          </div><hr />
        <% end %>
        <h3 class="text-darker-base-color">Kommende Events</h3>
        <%= render partial: "events/side_image_show", collection: @events, as: :event %>


        <h3 class="text-darker-base-color">Praktikum</h3>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-4">
              <%= link_to internship_path, class: "text-dark" do %>
                <%= image_tag "annemarie-woehler.jpg", class: "card-img" %>
              <% end %>
            </div>
            <div class="col-8">
              <div class="card-body">
                <strong><%= link_to "Freier Praktikumsplatz bei Stinah", internship_path, class: "text-dark" %></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


</div>
