<div class="card my-3">
  <div class="card-body">
    <h4><%= home_offer.class.model_name.human %></h4>
    <b>ID: </b> <%= home_offer.id %><br />
    <b>Anbieter: </b> <%= home_offer.offerer.name %><br />
    <b>Erstellt: </b> <%= l(home_offer.created_at) %><br />
    <b>Im Archiv: </b> <%= t(home_offer.archived) %><br />

    <hr />
    <div class="text-justify">
      <h4>Angaben zur Person</h4>
      <hr />
      <p>
        <%= home_offer.offerer.name %>
        <br />
        <%= home_offer.offerer.street %>
        <br />
        <%= home_offer.offerer.city %> <%= home_offer.offerer.plz %>
        <br />
        <%= home_offer.offerer.phone %>
        <br />
        <%= mail_to home_offer.offerer.email %>
      </p>
      <hr />
      <h4>Angaben zur Erfahrung und Motivation</h4>
      <hr />
      <p>
        <b><%= home_offer.offerer.class.human_attribute_name("experience") %></b> <br />
        <%= home_offer.offerer.experience %>
      </p>
      <p>
        <b><%= home_offer.offerer.class.human_attribute_name("motivation") %></b> <br />
        <%= home_offer.offerer.motivation %>
      </p>
      <p>
        <b><%= home_offer.class.human_attribute_name("plans") %></b> <br />
        <%= home_offer.offerer.plans %>
      </p>
      <hr />
      <h4>Angaben zum gewünschten Tier</h4>
      <hr />
      <p>
        <b><%= home_offer.class.human_attribute_name("species") %></b>: <%= t(home_offer.species, count: 1) %>
        <br />
        <b><%= home_offer.class.human_attribute_name("race") %></b>: <%= t(home_offer.race) %>
        <br />
        <b>Alter (in Jahren)</b>: <%= home_offer.min_age %> - <%= home_offer.max_age %>
        <br />
        <b>Grösse (in Centimeter)</b>: <%= home_offer.min_size %> - <%= home_offer.max_size %>
        <br />
        <b><%= home_offer.class.human_attribute_name("gender") %></b>: <%= t(home_offer.gender) %>
        <br />
        <b><%= home_offer.class.human_attribute_name("castrated") %></b>: <%= t(home_offer.castrated) %>
        <br />
        <br />
      </p>
      <hr />
      <h4>Angaben zum angebotenen Platz</h4>
      <hr />
      <p>
        <b><%= home_offer.class.human_attribute_name("stable") %></b>: <%= t(home_offer.stable) %>
        <br />
        <br />
        <b><%= home_offer.class.human_attribute_name("stable_alt") %></b><br />
         <%= home_offer.stable_alt %>
        <br />
        <b><%= home_offer.class.human_attribute_name("from_then_on") %></b> <%= l(home_offer.from_then_on) %>
        <br />
      </p>
    </div>
  </div>
  <div class="card-footer text-muted">
    <%= home_offer.created_at.strftime("%d-%m-%Y") %>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= render "home_offers/matches", home_offer: home_offer %>
      <%= link_to 'Eintrag bearbeiten', edit_home_offer_path(home_offer), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', home_offer_path(home_offer), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
      <% if home_offer.archived %>
        <%= link_to 'Eintrag aus dem Archiv holen', archive_home_offer_path(home_offer), method: :post, class: "btn btn-warning m-2" %>
      <% else %>
        <%= link_to 'Eintrag ins Archiv verschieben', archive_home_offer_path(home_offer), method: :post, class: "btn btn-warning m-2" %>
      <% end %>

    </div>
  <% end %>
  </div>
</div>
