<%= simple_form_for :search_inputs, {url: search_animals_path, method: :get, remote: true} do |f| %>
  <%= f.text_field :search_term, placeholder: "Suchen", autocomplete: :off, class: "form-control" %>
  <%#= f.hidden_field :model, value: records.klass.to_s %>
  <%#= f.hidden_field :random_div, value: random_div %>
  <br>
  <p>
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#search_options" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "plus" %> Weitere Optionen
    </button>
  </p>
<div class="collapse <%= "show" unless @search_inputs.nil? || true %> mb-2" id="search_options">
  <div class="card card-body">
    <%= f.input :species, label: Animal.human_attribute_name("species"), required: false, collection: Animal.species.map {|p| [t("#{p}"), p]} %>
    <br />
    <%= f.input :gender, label: Animal.human_attribute_name("gender"), required: false, collection: Animal.genders.reject{|a| a == "whatever"}.map {|p| [t("#{p}"), p]} %>
    <br>
  </div>
</div>
  <%= f.submit "Suchen", id: "trigger_search", class: "btn btn-primary" %>
<% end %>


<script>
    $(document).ready(function(){
      var records_div = ".home_offers"
      var search_records = "#search_inputs_search_term";
      var trigger_records = "#trigger_search";

      $( trigger_records ).click(function() {
        if ($( records_div ).html() != "<div class=\"mx-auto loader\"></div>"){
          $( records_div ).html( "<div class=\"mx-auto loader\"></div>" );
        }
      });

        $( search_records ).keyup(function() {
          if ($( search_records ).val().length > 3){
            if ($( records_div ).html() != "<div class=\"mx-auto loader\"></div>"){
              $( records_div ).html( "<div class=\"mx-auto loader\"></div>" );
            }
            $(trigger_records).click();
          }
        });
    });
</script>
