<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @home_offer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @home_offer.lastname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @home_offer.street %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @home_offer.plz %>
</p>

<p>
  <strong>City:</strong>
  <%= @home_offer.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @home_offer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @home_offer.email %>
</p>

<p>
  <strong>Year:</strong>
  <%= @home_offer.year %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @home_offer.experience %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @home_offer.motivation %>
</p>

<p>
  <strong>Plans:</strong>
  <%= @home_offer.plans %>
</p>

<p>
  <strong>Species:</strong>
  <%= @home_offer.species %>
</p>

<p>
  <strong>Age:</strong>
  <%= @home_offer.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @home_offer.size %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @home_offer.gender %>
</p>

<p>
  <strong>Castrated:</strong>
  <%= @home_offer.castrated %>
</p>

<p>
  <strong>Stable:</strong>
  <%= @home_offer.stable %>
</p>

<p>
  <strong>Stable-alt:</strong>
  <%= @home_offer.stable_alt %>
</p>

<p>
  <strong>Privacy-statement:</strong>
  <%= @home_offer.privacy_statement %>
</p>

<%= link_to 'Edit', edit_home_offer_path(@home_offer) %> |
<%= link_to 'Back', home_offers_path %>
