<div class="float-right small-text"><small><%= link_to day.strftime("%d"), work_day_calendar_path(day) %></small></div>
<br>
<% works = Work.where(date: day)%>
<% works.each do |work| %>
<div class="m-2">
  <div class="border border-primary rounded p-1">
   <%= work.user.username %>
   <% if work.user_id == current_user.id %>
     | <%= link_to 'x', delete_for_calendar_path(work), method: :delete, data: {confirm: 'Bist du sicher?'} %>
   <% end %>
   <br />
   <small>
     <%= work.shift_start.strftime("%H:%M") %> - <%= work.shift_end.strftime("%H:%M") %>
   </small>
   <% unless work.food.blank? %>
     <br />
     <small>
       <%= work.food unless work.food.blank? %>
     </small>
   <% end %>
 </div>
</div>
<% end %>

<% unless day.past? || works.where(user_id: current_user.id).any? %>
<div class="enter-work">
  <hr />
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary btn-sm enter-work-button m-2" value=" <%= day.to_s %>" data-toggle="modal" data-target="#enter-work-modal">
    Einsatz eintragen
  </button>
</div>
<% end %>
