<% month = @date.month %>
<% first_day = @date.beginning_of_month.beginning_of_week %>
<% last_day = @date.end_of_month.end_of_week %>
<% all_month_days = first_day..last_day %>
<% only_month_days = @date.beginning_of_month..@date.end_of_month %>

<div class="container-fluid bg-white">
  <div class="d-none d-md-block">
    <div class="jumbotron bg-white">
      <div class="text-center m-2">
        <%= link_to calendar_path(@date - 1.month) do %>
          <div class="btn btn-primary">
            &#8249; &#8249;
          </div>
        <% end %>
        <span class="mx-3">
          <b><%= I18n.t("date.month_names")[month] %></b>
        </span>
        <%= link_to calendar_path(@date + 1.month) do %>
          <div class="btn btn-primary">
            &#8250; &#8250;
          </div>
        <% end %>
      </div>
      <table class="table table-bordered rounded">
      <thead>
        <tr>
          <th class="text-center small-text">Montag</th>
          <th class="text-center small-text">Dienstag</th>
          <th class="text-center small-text">Mittwoch</th>
          <th class="text-center small-text">Donnerstag</th>
          <th class="text-center small-text">Freitag</th>
          <th class="text-center small-text">Samstag</th>
          <th class="text-center small-text">Sonntag</th>
        </tr>
      </thead>
      <tbody>
        <% all_month_days.to_a.in_groups_of(7).each do |week| %>
          <tr>
            <% week.each do |day| %>
            <% backgroundcolorforday = "bg-lightgray" unless day.between?(@date.beginning_of_month, @date.end_of_month) %>
            <% backgroundcolorforday = "bg-lightcyan" if day === Date.today %>
            <td class="day-td <%= day.strftime("%d-%m-%Y") %> <%= backgroundcolorforday %>" style="width: 14.28%">
              <div class="float-right small-text"><small><%= day.strftime("%d") %></small></div>
              <br>
              <% works = Work.where(date: day)%>
              <% works.each do |work| %>
              <div class="my-1">
                <div class="border border-primary rounded p-1">
                 <%= work.user.username %>
                 <% if work.user_id == current_user.id %>
                   <div class="float-right">
                     | <%= link_to 'x', delete_for_calendar_path(work), method: :delete, data: {confirm: 'Bist du sicher?'} %>
                   </div>
                 <% end %>
               </div>
              </div>
              <% end %>
              <% unless day.past? || works.where(user_id: current_user.id).any? %>
              <div class="enter-work" style="display: none">
                <hr />
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary btn-sm enter-work-button" value=" <%= day.to_s %>" data-toggle="modal" data-target="#enter-work-modal">
                  Einsatz eintragen
                </button>
              </div>
              <% end %>
            </td>
            <% end %>
          </tr>
        <% end %>

      </tbody>
    </table>
    </div>
  </div>

  <div class="d-md-none">
    <div class="jumbotron bg-white">
      <div class="text-center m-2">
        Nächster Einsatz: <span class="text-success"><u><b><%= current_user.next_work %></b></u></span>
      </div>
      <div class="text-center m-2">
        <%= link_to calendar_path(@date - 1.month) do %>
          <div class="btn btn-primary">
            &#8249; &#8249;
          </div>
        <% end %>
        <span class="mx-3">
          <b><%= I18n.t("date.month_names")[month] %></b>
        </span>
        <%= link_to calendar_path(@date + 1.month) do %>
          <div class="btn btn-primary">
            &#8250; &#8250;
          </div>
        <% end %>
      </div>
      <% only_month_days.to_a.each do |day| %>
      <div class="my-3 text-center rounded border">
        <u>
          <%= I18n.l(day, format: '%A') %> - <%= day.strftime("%d/%m/%Y") %>
        </u>
        <% works = Work.where(date: day)%>
        <% works.each do |work| %>
          <div class="my-1">
            <div class="border border-primary rounded p-2">
             <%= work.user.username %>
             <% if work.user_id == current_user.id %>
               <div class="float-right">
                 | <%= link_to 'x', delete_for_calendar_path(work), method: :delete, data: {confirm: 'Bist du sicher?'} %>
               </div>
             <% end %>
           </div>
          </div>
        <% end %>
        <% unless day.past? || works.where(user_id: current_user.id).any? %>
        <div class="enter-work my-1">
          <hr />
          <button type="button" class="btn btn-outline-primary btn-sm enter-work-button" value=" <%= day.to_s %>">Einsatz eintragen</button>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="enter-work-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Arbeitszeit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">:</button>
        </div>
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Uhr</button>
        </div>
      </div>
        <div class="form-group form-inline">
          <select class="form-control" id="startzeithourselect">
            <% (6..18).each do |t| %>
              <option><%= t %></option>
            <% end %>
          </select>
           :
          <select class="form-control" id="startzeitminutesselect">
            <% [0, 15, 30, 45].each do |t| %>
              <option><%= t %></option>
            <% end %>
          </select>
        </div>
        <br />
        <%= time_select :open_time, { prompt: {hour: '9', minute: '30'} }, { class: 'form-control' } %>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Startzeit</label>
          <div class="row">
            <div class="col-5 text-center">
              <select class="form-control" id="startzeithourselect">
                <% (6..18).each do |t| %>
                  <option><%= t %></option>
                <% end %>
              </select>
            </div>
            <div class="col-2">
             :
            </div>
            <div class="col-5">
              <select class="form-control" id="startzeitminutesselect">
                <% (0..59).each do |t| %>
                  <option><%= t %></option>
                <% end %>
              </select>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    var date = "<%= Date.today %>";
    var start_time = "8:00";
    var end_time = "17:00"

    $( ".enter-work-button" ).click(function() {
      date = $(this).val();
      console.log(date);
    });

    $( ".enter-work-button-with-time" ).click(function() {
      start_time = $(this).val();
      end_time = $(this).val();

      console.log(start_time + " " + end_time);

      $.ajax({
        url: "/works/create_for_calendar",
        method: 'POST',
        data: {
          work: { start_time: date, end_time: date}
        },
        headers: {
          'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
        }

      });
    });

    $( ".day-td" ).hover(
      function() {
        $(this).children(".enter-work").toggle();
      }, function(){
        $(this).children(".enter-work").toggle();
      }
    );

  });
</script>
