<% works = Work.where(date: @date) %>
<% users = Work.get_users(works) %>

<div class="container-fluid">
  <div class="jumbotron bg-white">
    <h2 class="text-center"><%= @date.strftime("%d-%m-%Y") %></h2>
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Uhr</th>
        <% users.each do |user| %>
          <th class="text-center"><%= user.username %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (6..18).each do |i| %>
      <tr>
        <td class="text-center"><%= i %></td>
        <% users.each do |user| %>
        <% work = works.where(user_id: user.id).first %>
        <% shift_start = work.shift_start.strftime('%H').to_i %>
        <% shift_end = work.shift_end.strftime('%H').to_i %>
          <% if shift_start == i %>
            <td class="table-primary text-center" rowspan="<%= (shift_start..shift_end).size %>">
              <strong><%= work.user.username %></strong>
              <br />
              Von <%= work.shift_start.strftime("%H:%M") %> bis <%= work.shift_end.strftime("%H:%M") %>
              <br />
              <% unless work.food.blank? %>
                <hr />
                <%= work.food %>
                <br />
              <% end %>
            </td>
          <% elsif i.between?(shift_start,shift_end) %>

          <% else %>
            <td></td>
          <% end %>

        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
