<%= simple_form_for(chicken_adoption, url: create_for_adopters_path, method: :post, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12">
          <p>
            Name *
          </p>
      </div>
      <div class="col-6">
        <%= f.input :firstname, label: false, placeholder: "Vorname", required: true %>
      </div>
      <div class="col-6">
        <%= f.input :lastname, label: false, placeholder: "Nachname", required: true %>
      </div>
      <div class="col-12">
        <hr />
          Adresse *
      </div>
      <div class="col-12">
        <p>
          <%= f.input :street, label: false, placeholder: "Hauptstrasse 5" %>
        </p>
      </div>
      <div class="col-6">
        <%= f.input :city, label: false, placeholder: "Zürich", required: true  %>
      </div>
      <div class="col-6">
        <%= f.input :plz, label: false, placeholder: "8000", required: true  %>
      </div>
    </div>
    <%= f.input :phone, placeholder: "0791234567", required: true %>
    <%= f.input :email, placeholder: "beispiel@email.com", required: true %>
    <%= f.input :number_of_chickens_for_adoption, required: true %>
    <%= f.input :number_of_chickens_currently, required: true %>
    <%= f.input :description_of_home, required: true %>
    <%= f.input :size_of_chicken_coop, required: true %>
    <%= f.input :size_of_outdoor_area, required: true %>
    <%= f.input :adoption_of_a_rooster_possible, collection: ChickenAdoption.adoption_of_a_rooster_possible.map {|p| [t("#{p}"), p]}, required: true %>
    <%= f.input :acceptance_statement, required: true %>
    <%= f.input :message %>
    <%= f.input :privacy_statement, label: "Ich bin mit der #{link_to 'Datenschutzerklärung', privacy_statement_path, target: '_blank'} einverstanden".html_safe, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Formular einreichen", class: "btn-light" %>
  </div>
<% end %>
