<div class="container">
  <div class="jumbotron bg-white my-4">
      <h3><%= ChickenAdoption.model_name.human %></h3>
      <br />
      <%= render "chicken_adoptions/search_form", chicken_adoptions: @chicken_adoptions %>
      <br />
      <div class="chicken_adoptions">
        <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>Anbieter</th>
            <th>
              Erstellt
            </th>

          </tr>
        </thead>
        <tbody>
          <% @chicken_adoptions.each do |chicken_adoption| %>
            <tr>
              <td>
                <%= link_to chicken_adoption.id, chicken_adoption_path(chicken_adoption) %>
              </td>
              <td>
                <%= link_to chicken_adoption.name, chicken_adoption_path(chicken_adoption) %>
              </td>
              <td><%= link_to "#{l(chicken_adoption.created_at)}", chicken_adoption_path(chicken_adoption) %></td>
            </tr>
          <% end %>
        </tbody>
        </table>
        <%#= render "chicken_adoptions/chicken_adoptions", chicken_adoptions: @chicken_adoptions %>
      </div>
  </div>
</div>
