<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @chicken_adoption.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @chicken_adoption.lastname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @chicken_adoption.street %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @chicken_adoption.plz %>
</p>

<p>
  <strong>City:</strong>
  <%= @chicken_adoption.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @chicken_adoption.phone %>
</p>

<p>
  <strong>Number of chickens for adoption:</strong>
  <%= @chicken_adoption.number_of_chickens_for_adoption %>
</p>

<p>
  <strong>Number of chickens currently:</strong>
  <%= @chicken_adoption.number_of_chickens_currently %>
</p>

<p>
  <strong>Description of home:</strong>
  <%= @chicken_adoption.description_of_home %>
</p>

<p>
  <strong>Size of chicken coop:</strong>
  <%= @chicken_adoption.size_of_chicken_coop %>
</p>

<p>
  <strong>Size of outdoor area:</strong>
  <%= @chicken_adoption.size_of_outdoor_area %>
</p>

<p>
  <strong>Adoption of a rooster possible:</strong>
  <%= @chicken_adoption.adoption_of_a_rooster_possible %>
</p>

<p>
  <strong>Acceptance statement:</strong>
  <%= @chicken_adoption.acceptance_statement %>
</p>

<p>
  <strong>Privacy statement:</strong>
  <%= @chicken_adoption.privacy_statement %>
</p>

<p>
  <strong>Message:</strong>
  <%= @chicken_adoption.message %>
</p>

<%= link_to 'Edit', edit_chicken_adoption_path(@chicken_adoption) %> |
<%= link_to 'Back', chicken_adoptions_path %>
