<div class="card my-3">
  <% if horse.portrait.attached? %>
    <div class="card-header text-center">
          <%= image_tag horse.portrait, class: "img-fluid mx-auto max-height-300 rounded" %>
    </div>
  <% end %>
  <div class="card-body text-darker-base-color">
    <h3 class="card-title"><%= horse.name %></h3>
    <div class="text-justify">
      <p class="card-text"><%= horse.description %></p>
      <hr />
      <p class="card-text"><b>Rasse: </b><%= horse.race %></p>
      <p class="card-text"><b>Geburtstag: </b><%= horse.birth %></p>
    </div>
  </div>
  <div class="card-footer text-muted">
  <% if user_signed_in? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_horse_path(horse), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', horse_path(horse), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
  </div>
</div>
