
<div class="bg-light py-5">
  <div class="container">
    <div class="row my-5">
        <div class="col-12 col-lg-8">
          <% if is_current_user_admin? %>
            <div class="text-center">
              <%= link_to 'Neuer Eintrag', new_post_path, class: "btn btn-primary" %>
            </div><hr />
          <% end %>
          <h3 class="text-darker-base-color">Aktuell</h3>
          <%= render partial: "posts/side_image_show", collection: Post.all.order("created_at").reverse_order.first(5), as: :post %>
        </div>
        <div class="col-12 col-lg-4">
          <% if is_current_user_admin? %>
            <div class="text-center">
              <%= link_to 'Neuer Eintrag', new_event_path, class: "btn btn-primary" %>
            </div><hr />
          <% end %>
          <h3 class="text-darker-base-color">Kommende Events</h3>
          <%= render partial: "events/side_image_show", collection: Event.where("start > ?", DateTime.now).order("start"), as: :event %>


          <h3 class="text-darker-base-color">Praktikum</h3>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-4">
                <%= link_to internship_path, class: "text-dark" do %>
                  <%= image_tag "annemarie-woehler.jpg", class: "card-img" %>
                <% end %>
              </div>
              <div class="col-8">
                <div class="card-body">
                  <strong><%= link_to "Freier Praktikumsplatz bei Stinah", internship_path, class: "text-dark" %></strong>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
