<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-3 col-md-4 ">
      <% if event.cover.attached? %>
        <%= link_to event_path(event), class: "text-dark" do %>
          <%= image_tag event.cover, class: "card-img" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <p class="lead">
        <%= l(event.start, format: "%d") %>
        <br />
        <%= l(event.start, format: "%b") %>
      </p>
    </div>
    <div class="d-none d-md-block col-md-6">
      <div class="card-body">

        <h5 class="card-title"><%= link_to event.name, event_path(event), class: "text-dark" %></h5>
        <p class="card-text"><%= event.description.to_plain_text.truncate(75) %></p>
        <p class="card-text"><%= link_to "Mehr erfarhen!", event_path(event) %></p>
      </div>
    </div>
    <div class="d-md-none col-7">
      <div class="card-body small">
        <h5 class="card-title"><%= link_to event.name, event_path(event), class: "text-dark" %></h5>
      </div>
    </div>
  </div>
</div>
