<div class="container">

  <div class="row no-gutters">
    <div class="col-md-6 col-sm-12">
      <div class="card h-100">
        <div class="hovereffect">
            <%= image_tag "pig_cute.png", class: "card-img h-100" %>
            <div class="card-img-overlay d-flex align-items-end">
              <h3 class="card-title text-white">Unsere Tiere</h3>
            </div>
            <div class="overlay">
               <h2>Unsere Tiere</h2>
               <%= link_to "Entdecken", animals_path, class: "info" %>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6 d-none d-md-block">
      <div class="row no-gutters">
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "stiftungsgruender.png", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">Über STINAH</h3>
                </div>
                <div class="overlay">
                   <h2>Über STINAH</h2>
                   <%= link_to "Mehr erfahren", about_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "chicken_free.jpg", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">STINAH unterstützen!</h3>
                </div>
                <div class="overlay">
                   <h2>STINAH unterstützen!</h2>
                   <%= link_to "Mithelfen", support_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "cow.png", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">Tier - Vermittlung</h3>
                </div>
                <div class="overlay">
                   <h2>Tiervermittlung</h2>
                   <%= link_to "Tiere abgeben oder aufnehmen", newhome_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card h-100">
            <div class="hovereffect">
                <%= image_tag "chicken_eating.jpeg", class: "card-img h-100" %>
                <div class="card-img-overlay d-flex align-items-end">
                  <h3 class="card-title text-white">Rettet das Huhn!</h3>
                </div>
                <div class="overlay">
                   <h2>Rettet das Huhn!</h2>
                   <%= link_to "Informieren", save_the_chicken_path, class: "info" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>
      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
      <p class="lead text-darker-base-color my-4">
        Willkommen bei "Rettet das Huhn!", ein Engagement von Stiftung Tiere in Not - Animal Help
      </p>
      <div class="text-darker-base-color text-justify">
        <p>
          Wir freuen uns, dass Sie uns hier besuchen und danken Ihnen für das Interesse. Wenn Sie ausrangierten Legehennen einen schönen Lebensplatz schenken möchten, kontaktieren Sie uns am besten über unser Kontaktformular.
        </p>
        <p>
          Auf diesen Seiten dreht sich alles um die Hühner. Mit unserem Motto "Wegschauen war gestern!" möchten wir auch möglichst viele Menschen erreichen und aufzeigen, was für ein schreckliches Leiden Legehennen tagtäglich durchleben und dass jeder einen Beitrag dazu leisten kann, diesem Wahnsinn ein Ende zu setzen.
        </p>
      </div>
    </div>
    <%= render "shared/welcome_thumbnail_carousel", image_names: ["chicken.png", "chicken_eating.jpeg", "chicken_free.jpg"] %>
    <%#= render "shared/simple_gallery" %>
  </div>
</div>
