
<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label :cover %>
    <br />
    <%= f.file_field :cover %>
    <br />
    <br />
    <%= f.input :name %>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <br />
    <%#= f.input :species %>
    <%= f.input :species, collection: Animal.species.map {|p| [t("#{p}"), p]} %>
    <%= f.input :race %>
    <%= f.input :birth, include_blank: true, start_year: Date.today.year - 50, end_year: Date.today.year %>
    <p>
      Falls der Geburtstag nicht genau bekannt ist (ansonsten leerlassen)
    </p>
    <%= f.input :birth_ca, label: false, placeholder: 'z.B. "August 2016" oder "um 2016"' %>
    <%= f.input :gender, collection: Animal.genders.reject{|a| a == "whatever"}.map {|p| [t("#{p}"), p]} %>
    <%= f.input :size, placeholder: "145"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
