<div class="card h-100 my-3 <%= dom_id(animal) %>">
  <% if animal.cover.attached? %>
    <div class="card-header text-center">
      <%= link_to animal_path(animal) do %>
        <%= image_tag animal.cover, class: "img-fluid mx-auto max-height-300 rounded" %>
      <% end %>
    </div>
  <% end %>
  <div class="card-body text-darker-base-color">
    <h3 class="card-title"><%= animal.name %></h3>
    <div class="text-justify">
      <p class="card-text"><%= animal.description %></p>
      <hr />
      <% unless animal.species.blank? %>
      <p class="card-text"><b>Tierart: </b><%= t(animal.species) %></p>
      <% end %>
      <% unless animal.race.blank? %>
      <p class="card-text"><b>Rasse: </b><%= animal.race %></p>
      <% end %>
      <% unless animal.birth.blank? %>
      <p class="card-text"><b>Geburtstag: </b><%= animal.birth %></p>
      <% end %>
      <% unless animal.birth_ca.blank? %>
      <p class="card-text"><b>Geburtstag: </b><%= animal.birth_ca %></p>
      <% end %>
      <% unless animal.gender.blank? %>
      <p class="card-text">
        <b><%= animal.class.human_attribute_name("gender") %>: </b><%= t(animal.gender) %>
      </p>
      <% end %>
      <% unless animal.size.blank? %>
      <p class="card-text">
        <b><%= animal.class.human_attribute_name("size") %>: </b><%= animal.size %>
      </p>
      <% end %>

      <% if animal.pictures.attached? && local_assigns.has_key?(:show_gallery) %>
        <%#= render "shared/thumbnail_carousel", images: animal.pictures %>
        <%= render "shared/simple_gallery", images: animal.pictures %>
      <% end %>

      <% if animal.sponsorships.where(public: true).where(active: true).exists? %>
      <hr />
      <b>Wir danken den Paten von <%= animal.name %>: </b>
      <ul>
        <% animal.sponsorships.where(public: true).where(active: true).each do |sponsorship| %>
          <li>
            <%= sponsorship.firstname %> <%= sponsorship.lastname %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-muted">
    <% if false #!current_user.nil? && current_user.animals.exists?(animal.id) %>
    <div class="float-right m-2">
      Du bist Pate von <%= animal.name %>!
    </div>
    <% end %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success m-2 float-right <%= dom_id(animal) %>_sponsorship_modal_button" data-toggle="modal" data-target=".<%= dom_id(animal) %>_sponsorship_modal">
      Pate von <%= animal.name %> werden!
    </button>

  <% if is_current_user_admin? %>
  <br />
  <br />
  <hr />
    <div class="text-center m-2">
      <%= link_to 'Eintrag bearbeiten', edit_animal_path(animal), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', animal_path(animal), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade <%= dom_id(animal) %>_sponsorship_modal" tabindex="-1" role="dialog" aria-labelledby="sponsorshipModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pate für <%= animal.name %> werden!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'sponsorships/form', sponsorship: Sponsorship.new, user: current_user, animal: animal %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
