<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <% if is_current_user_admin? %>
      <div class="text-center">
        <%= link_to 'Neuer Eintrag', new_animal_path, class: "btn btn-primary my-2" %>
      </div>
    <% end %>
    <%= render "animals/search_form", animals: @animals %>
    <div class="animals">
      <%#= render partial: "animals/show", collection: @animals, as: :animal %>
      <%= render 'animals_in_groups_of_3', animals: @animals %>
    </div>
  </div>
</div>
