<div class="card my-3">
  <div class="card-body">
    <h4><%= home_request.class.model_name.human %></h4>
    <b>ID: </b> <%= home_request.id %><br />
    <b>Eigentümer / Melder: </b> <%= home_request.messenger_or_owner %><br />
    <b>Erstellt: </b> <%= l(home_request.created_at) %><br />
    <b>Im Archiv: </b> <%= t(home_request.archived) %><br />
    <hr />
    <div class="text-justify">
      <h4>Angaben zum Eigentümer</h4>
      <hr />
      <p>
        <b><%= home_request.class.human_attribute_name("are_you_owner") %></b> <%= t(home_request.are_you_owner) %>
      </p>
      <p>
        <%= home_request.owner_firstname %> <%= home_request.owner_lastname %>
        <br />
        <%= home_request.owner_street %>
        <br />
        <%= home_request.owner_city %> <%= home_request.owner_plz %>
        <br />
        <%= home_request.owner_phone %>
        <br />
        <%= mail_to home_request.owner_email %>
      </p>
      <p>
        <b><%= home_request.class.human_attribute_name("does_owner_agree_with_mediation") %></b> <%= t(home_request.does_owner_agree_with_mediation) %>
        <br />
        <b><%= home_request.class.human_attribute_name("do_you_own_authority_of_mediation") %></b> <%= t(home_request.do_you_own_authority_of_mediation) %>
      </p>
      <hr />
      <h4>Angaben zum Melder</h4>
      <hr />
      <p>
        <%= home_request.messenger_firstname %> <%= home_request.messenger_lastname %>
        <br />
        <%= home_request.messenger_street %>
        <br />
        <%= home_request.messenger_city %> <%= home_request.messenger_plz %>
        <br />
        <%= home_request.messenger_phone %>
        <br />
        <%= mail_to home_request.messenger_mail %>
      </p>
      <hr />
      <h4>Angaben zur Dringlichkeit</h4>
      <hr />
      <p>
        <b><%= home_request.class.human_attribute_name("killing_of_animal_intended") %></b> <%= t(home_request.killing_of_animal_intended) %>
        <br />
        <b><%= home_request.class.human_attribute_name("date_of_killing") %></b> <%= home_request.date_of_killing.is_a?(Date) ? l(home_request.date_of_killing) : "Kein Datum angegeben" %>
      </p>
      <hr />
      <h4>Angaben zur Abgabgetier</h4>
      <hr />
      <b><%= home_request.class.human_attribute_name("species") %></b>: <%= t(home_request.species) %>
      <br />
      <b><%= home_request.class.human_attribute_name("race") %></b>: <%= t(home_request.race) %>
      <br />
      <b><%= home_request.class.human_attribute_name("age") %></b>: <%= t(home_request.age) %>
      <br />
      <b><%= home_request.class.human_attribute_name("size") %></b>: <%= t(home_request.size) %>
      <br />
      <b><%= home_request.class.human_attribute_name("color") %></b>: <%= t(home_request.color) %>
      <br />
      <b><%= home_request.class.human_attribute_name("gender") %></b>: <%= t(home_request.gender) %>
      <br />
      <b><%= home_request.class.human_attribute_name("castrated") %></b>: <%= t(home_request.castrated) %>
      <br />
      <br />
      <b><%= home_request.class.human_attribute_name("features") %></b>: <br />
      <%= home_request.features %>
      <hr />
      <h4>Angaben zum Standort des Abgabetiers</h4>
      <hr />
      <p>
        <%= home_request.stable_owner_firstname %> <%= home_request.stable_owner_lastname %>
        <br />
        <%= home_request.stable_street %>
        <br />
        <%= home_request.stable_city %> <%= home_request.stable_plz %>
        <br />
        <%= home_request.stable_phone %>
        <br />
        <%= mail_to home_request.owner_email %>
      </p>
      <hr />
      <h4>Bisherige Haltung und bisheriger Einsatz des Tieres</h4>
      <hr />
      <p>
        <b><%= home_request.class.human_attribute_name("how_was_animal_held") %></b> <br />
        <%= home_request.how_was_animal_held %>
      </p>
      <p>
        <b><%= home_request.class.human_attribute_name("how_was_animal_used") %></b> <br />
        <%= home_request.how_was_animal_used %>
      </p>
      <p>
        <b><%= home_request.class.human_attribute_name("reason_of_request") %></b> <br />
        <%= home_request.reason_of_request %>
      </p>
      <p>
        <b><%= home_request.class.human_attribute_name("is_animal_healthy") %></b> <br />
        <%= home_request.is_animal_healthy %>
      </p>
      <hr />
      <p>
        <b><%= home_request.class.human_attribute_name("privacy_statement") %></b>
        <%= t(home_request.privacy_statement) %>
      </p>
      <p>
      <hr />
        <% if home_request.pictures.attached? %>
          <% home_request.pictures.each do |picture| %>
            <%= image_tag picture, class: "img-fluid mx-auto max-height-300 rounded" %>
          <% end %>
        <% else %>
          Keine Bilder hochgeladen.
        <% end %>
      </p>
      <br />

    </div>
  </div>
  <div class="card-footer text-muted">
    <%= home_request.created_at.strftime("%d-%m-%Y") %>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= render "home_requests/matches", home_request: home_request %>
      <%= link_to 'Eintrag bearbeiten', edit_home_request_path(home_request), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', home_request_path(home_request), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
      <%= link_to 'Eintrag ins Archiv verschieben', archive_home_offer_path(home_offer), method: :post, class: "btn btn-warning m-2" %>
    </div>
  <% end %>
  </div>
</div>
