<p id="notice"><%= notice %></p>

<h1>Home Requests</h1>

<table>
  <thead>
    <tr>
      <th>Are you owner</th>
      <th>Owner firstname</th>
      <th>Owner lastname</th>
      <th>Owner street</th>
      <th>Owner plz</th>
      <th>Owner city</th>
      <th>Owner phone</th>
      <th>Owner email</th>
      <th>Does owner agree with mediation</th>
      <th>Do you own authority of mediation</th>
      <th>Messenger firstname</th>
      <th>Messenger lastname</th>
      <th>Messenger street</th>
      <th>Messenger plz</th>
      <th>Messenger city</th>
      <th>Messenger phone</th>
      <th>Messenger mail</th>
      <th>Killing of animal intended</th>
      <th>Killing of animal scheduled</th>
      <th>Date of killing</th>
      <th>Species</th>
      <th>Race</th>
      <th>Age</th>
      <th>Size</th>
      <th>Color</th>
      <th>Gender</th>
      <th>Castrated</th>
      <th>Current location</th>
      <th>Features</th>
      <th>Stable owner firstname</th>
      <th>Stable owner lastname</th>
      <th>Stable street</th>
      <th>Stable plz</th>
      <th>Stable city</th>
      <th>Stable phone</th>
      <th>How was animal held</th>
      <th>How was animal used</th>
      <th>Reason of request</th>
      <th>Is animal healthy</th>
      <th>Privacy statement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_requests.each do |home_request| %>
      <tr>
        <td><%= home_request.are_you_owner %></td>
        <td><%= home_request.owner_firstname %></td>
        <td><%= home_request.owner_lastname %></td>
        <td><%= home_request.owner_street %></td>
        <td><%= home_request.owner_plz %></td>
        <td><%= home_request.owner_city %></td>
        <td><%= home_request.owner_phone %></td>
        <td><%= home_request.owner_email %></td>
        <td><%= home_request.does_owner_agree_with_mediation %></td>
        <td><%= home_request.do_you_own_authority_of_mediation %></td>
        <td><%= home_request.messenger_firstname %></td>
        <td><%= home_request.messenger_lastname %></td>
        <td><%= home_request.messenger_street %></td>
        <td><%= home_request.messenger_plz %></td>
        <td><%= home_request.messenger_city %></td>
        <td><%= home_request.messenger_phone %></td>
        <td><%= home_request.messenger_mail %></td>
        <td><%= home_request.killing_of_animal_intended %></td>
        <td><%= home_request.killing_of_animal_scheduled %></td>
        <td><%= home_request.date_of_killing %></td>
        <td><%= home_request.species %></td>
        <td><%= home_request.race %></td>
        <td><%= home_request.age %></td>
        <td><%= home_request.size %></td>
        <td><%= home_request.color %></td>
        <td><%= home_request.gender %></td>
        <td><%= home_request.castrated %></td>
        <td><%= home_request.current_location %></td>
        <td><%= home_request.features %></td>
        <td><%= home_request.stable_owner_firstname %></td>
        <td><%= home_request.stable_owner_lastname %></td>
        <td><%= home_request.stable_street %></td>
        <td><%= home_request.stable_plz %></td>
        <td><%= home_request.stable_city %></td>
        <td><%= home_request.stable_phone %></td>
        <td><%= home_request.how_was_animal_held %></td>
        <td><%= home_request.how_was_animal_used %></td>
        <td><%= home_request.reason_of_request %></td>
        <td><%= home_request.is_animal_healthy %></td>
        <td><%= home_request.privacy_statement %></td>
        <td><%= link_to 'Show', home_request %></td>
        <td><%= link_to 'Edit', edit_home_request_path(home_request) %></td>
        <td><%= link_to 'Destroy', home_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home Request', new_home_request_path %>
