<p id="notice"><%= notice %></p>

<p>
  <strong>Are you owner:</strong>
  <%= @home_request.are_you_owner %>
</p>

<p>
  <strong>Owner firstname:</strong>
  <%= @home_request.owner_firstname %>
</p>

<p>
  <strong>Owner lastname:</strong>
  <%= @home_request.owner_lastname %>
</p>

<p>
  <strong>Owner street:</strong>
  <%= @home_request.owner_street %>
</p>

<p>
  <strong>Owner plz:</strong>
  <%= @home_request.owner_plz %>
</p>

<p>
  <strong>Owner city:</strong>
  <%= @home_request.owner_city %>
</p>

<p>
  <strong>Owner phone:</strong>
  <%= @home_request.owner_phone %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @home_request.owner_email %>
</p>

<p>
  <strong>Does owner agree with mediation:</strong>
  <%= @home_request.does_owner_agree_with_mediation %>
</p>

<p>
  <strong>Do you own authority of mediation:</strong>
  <%= @home_request.do_you_own_authority_of_mediation %>
</p>

<p>
  <strong>Messenger firstname:</strong>
  <%= @home_request.messenger_firstname %>
</p>

<p>
  <strong>Messenger lastname:</strong>
  <%= @home_request.messenger_lastname %>
</p>

<p>
  <strong>Messenger street:</strong>
  <%= @home_request.messenger_street %>
</p>

<p>
  <strong>Messenger plz:</strong>
  <%= @home_request.messenger_plz %>
</p>

<p>
  <strong>Messenger city:</strong>
  <%= @home_request.messenger_city %>
</p>

<p>
  <strong>Messenger phone:</strong>
  <%= @home_request.messenger_phone %>
</p>

<p>
  <strong>Messenger mail:</strong>
  <%= @home_request.messenger_mail %>
</p>

<p>
  <strong>Killing of animal intended:</strong>
  <%= @home_request.killing_of_animal_intended %>
</p>

<p>
  <strong>Killing of animal scheduled:</strong>
  <%= @home_request.killing_of_animal_scheduled %>
</p>

<p>
  <strong>Date of killing:</strong>
  <%= @home_request.date_of_killing %>
</p>

<p>
  <strong>Species:</strong>
  <%= @home_request.species %>
</p>

<p>
  <strong>Race:</strong>
  <%= @home_request.race %>
</p>

<p>
  <strong>Age:</strong>
  <%= @home_request.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @home_request.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @home_request.color %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @home_request.gender %>
</p>

<p>
  <strong>Castrated:</strong>
  <%= @home_request.castrated %>
</p>

<p>
  <strong>Current location:</strong>
  <%= @home_request.current_location %>
</p>

<p>
  <strong>Features:</strong>
  <%= @home_request.features %>
</p>

<p>
  <strong>Stable owner firstname:</strong>
  <%= @home_request.stable_owner_firstname %>
</p>

<p>
  <strong>Stable owner lastname:</strong>
  <%= @home_request.stable_owner_lastname %>
</p>

<p>
  <strong>Stable street:</strong>
  <%= @home_request.stable_street %>
</p>

<p>
  <strong>Stable plz:</strong>
  <%= @home_request.stable_plz %>
</p>

<p>
  <strong>Stable city:</strong>
  <%= @home_request.stable_city %>
</p>

<p>
  <strong>Stable phone:</strong>
  <%= @home_request.stable_phone %>
</p>

<p>
  <strong>How was animal held:</strong>
  <%= @home_request.how_was_animal_held %>
</p>

<p>
  <strong>How was animal used:</strong>
  <%= @home_request.how_was_animal_used %>
</p>

<p>
  <strong>Reason of request:</strong>
  <%= @home_request.reason_of_request %>
</p>

<p>
  <strong>Is animal healthy:</strong>
  <%= @home_request.is_animal_healthy %>
</p>

<p>
  <strong>Privacy statement:</strong>
  <%= @home_request.privacy_statement %>
</p>

<%= link_to 'Edit', edit_home_request_path(@home_request) %> |
<%= link_to 'Back', home_requests_path %>
