<%= simple_form_for post do |f| %>
  <%= f.label :cover %>
  <br />
  <%= f.file_field :cover %>
  <br />
  <br />
  <%= f.input :title %>
  <%= f.label :content %>
  <%= f.rich_text_area :content, size: "30x10" %>
  <% if f.object.errors.messages[:content].present? %>
    <div class="alert alert-danger">
      <%= f.object.errors.messages[:content].first.to_s %>
    </div>
  <% end %>
  <br />
  <%= f.input :category, collection: Post.categories.map {|p| [t("#{p}"), p]} %>
  <%= f.input :video_src %>
  <br />
  <%= f.label :video %>
  <br />
  <%= f.file_field :video %>
  <br />
  <br />
  <h5>Bilder für Gallerie hochladen</h5>
  <%= f.file_field :pictures, multiple: true %>
  <hr />
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
