<div class="card my-3">
  <% if post.cover.attached? %>
    <div class="card-header text-center">
          <%= image_tag post.cover, class: "img-fluid mx-auto max-height-300 rounded" %>
    </div>
  <% end %>
  <div class="card-body text-darker-base-color">
    <h3 class="card-title"><%= post.title %></h3>
    <div class="text-justify">
      <p class="card-text"><%= post.content %></p>
      <% unless post.video_src.blank? %>
        <p class="text-center">
          <%= get_video_iframe(post.video_src) %>
        </p>
      <% end %>

      <% if post.video.attached? %>
        <p class="text-center">
          <%= video_tag rails_blob_path(post.video), controls: true, id: "#{dom_id(post)}_video_field"  %>
        </p>
        <script>
        $(document).ready(function(){
          const player = new Plyr('<%= "##{dom_id(post)}_video_field" %>');
        });
        </script>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-muted">
    von <%= post.user.username %> - <%= post.created_at.strftime("%d-%m-%Y") %>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_post_path(post), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', post_path(post), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
  </div>
</div>
