<div class="card my-3">
  <% if post.cover.attached? %>
    <div class="card-header text-center">
      <%= image_tag post.cover, class: "img-fluid mx-auto max-height-300 rounded" %>
    </div>
  <% end %>
  <div class="card-body text-darker-base-color">
    <h3 class="card-title"><%= post.title %></h3>
    <div class="text-justify">
      <p class="card-text"><%= post.content %></p>
      <% unless post.video_src.blank? %>
      <div class="embed-responsive embed-responsive-16by9">
        <%= get_video_iframe(post.video_src) %>
      </div>
      <% end %>

      <% if post.video.attached? %>
        <p class="text-center">
          <%= video_tag rails_blob_path(post.video), controls: true, id: "#{dom_id(post)}_video_field", class: "embed-responsive embed-responsive-16by9"  %>
        </p>
        <script>
          $(document).ready(function(){
            const player = new Plyr('<%= "##{dom_id(post)}_video_field" %>',
            {
              controls: [
                'play-large',
                'restart',
                'play',
                'progress',
                'current-time',
                'duration',
                'mute',
                'volume',
                'download',
                'fullscreen',
              ],
              settings: [
                'captions', 'quality', 'speed', 'loop'
              ],
              urls: {
                download: '<%= rails_blob_path(post.video) %>',
              }
            }
          );
          });
        </script>
      <% end %>
      <% if post.pictures.attached? %>
        <%#= render "shared/thumbnail_carousel", images: animal.pictures %>
        <%= render "shared/simple_gallery", images: post.pictures %>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-muted">
    von <%= post.user.firstname %> <%= post.user.lastname %> - <%= post.created_at.strftime("%d-%m-%Y") %>
    <%#= social_share_button_tag(post.title, :url => post_path(post), desc: post.content, :image => post.cover) %>
      <%= render "shared/social_media_buttons", random_id: SecureRandom.hex(10), text: truncate(post.content.to_plain_text.squish, length: 140), url: post_url(post) %>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_post_path(post), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', post_path(post), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
  </div>
</div>
