<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-sm-4 col-3">
      <% if post.cover.attached? %>
        <%= link_to post_path(post), class: "text-dark" do %>
          <%= image_tag post.cover, class: "card-img" %>
        <% end %>
      <% elsif false %>
      <% elsif post.video.attached? %>
      <p class="text-center">
        <%= video_tag rails_blob_path(post.video), controls: true, id: "#{dom_id(post)}_video_field", class: "embed-responsive embed-responsive-16by9"  %>
      </p>
      <script>
        $(document).ready(function(){
          const player = new Plyr('<%= "##{dom_id(post)}_video_field" %>',
          {
            controls: [
              'play-large',
              'restart',
              'play',
              'progress',
              'current-time',
              'duration',
              'mute',
              'volume',
              'download',
              'fullscreen',
            ],
            settings: [
              'captions', 'quality', 'speed', 'loop'
            ],
            urls: {
              download: '<%= rails_blob_path(post.video) %>',
            }
          }
        );
        });
      </script>
      <% end %>
    </div>
    <div class="d-none d-sm-block col-sm-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to post.title, post_path(post), class: "text-dark" %></h5>
        <p class="card-text"><small class="text-muted"><%= post.created_at.strftime("%d/%m/%Y") %> - von <%= post.user.firstname %> <%= post.user.lastname %></small></p>
        <p class="card-text"><%= post.content.to_plain_text.truncate(150) %></p>
        <p class="card-text"><%= link_to "Weiterlesen!", post_path(post) %></p>
      </div>
    </div>
    <div class="d-sm-none col-9">
      <div class="card-body">
        <h5 class="card-title"><%= link_to post.title, post_path(post), class: "text-dark" %></h5>
        <p class="card-text"><small class="text-muted"><%= post.created_at.strftime("%d/%m/%Y") %> - von <%= post.user.firstname %> <%= post.user.lastname %></small></p>
      </div>
    </div>
  </div>
</div>
