<div class="jumbotron">
  <%= simple_form_for(offerer, url: add_offerer_path, method: :post, remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <h4>Angaben zur Person</h4>
      <hr />
        <div class="row">
          <div class="col-12">
              <p>
                Name *
              </p>
          </div>
          <div class="col-6">
            <%= f.input :firstname, label: false, placeholder: "Vorname", required: true %>
          </div>
          <div class="col-6">
            <%= f.input :lastname, label: false, placeholder: "Nachname", required: true %>
          </div>
          <div class="col-12">
            <hr />
              Adresse *
          </div>
          <div class="col-12">
            <p>
              <%= f.input :street, label: false, placeholder: "Hauptstrasse 5" %>
            </p>
          </div>
          <div class="col-6">
            <%= f.input :city, label: false, placeholder: "Zürich", required: true  %>
          </div>
          <div class="col-6">
            <%= f.input :plz, label: false, placeholder: "8000", required: true  %>
          </div>
        </div>
        <hr />
      <%= f.input :phone, placeholder: "0791234567", required: true %>
      <%= f.input :email, placeholder: "beispiel@email.com", required: true %>
      <%= f.input :year, placeholder: '1988', required: true %>
      <hr />
      <h4>Angaben zur Erfahrung und Motivation</h4>
      <hr />
      <%= f.input :experience, placeholder: 'z.B. Ausbildung als Pferdefachfrau', required: true %>
      <%= f.input :motivation, placeholder: '', required: true  %>
      <%= f.input :plans, placeholder: '', required: true %>
      <hr />
      <%= f.input :privacy_statement, label: "Ich bin mit der #{link_to 'Datenschutzerklärung', privacy_statement_path, target: '_blank'} einverstanden".html_safe, required: true %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Weiter", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
