<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @offerer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @offerer.lastname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @offerer.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @offerer.city %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @offerer.plz %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @offerer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @offerer.email %>
</p>

<p>
  <strong>Year:</strong>
  <%= @offerer.year %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @offerer.experience %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @offerer.motivation %>
</p>

<p>
  <strong>Plans:</strong>
  <%= @offerer.plans %>
</p>

<%= link_to 'Edit', edit_offerer_path(@offerer) %> |
<%= link_to 'Back', offerers_path %>
