<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <% if is_current_user_admin? %>
      <div class="text-center">
        <%= link_to 'Neuer Eintrag', new_testimonial_path, class: "btn btn-primary my-2" %>
      </div>
    <% end %>
    <%= render partial: "testimonials/show", collection: @testimonials, as: :testimonial %>
  </div>
</div>
