<footer class="footer a-color">
  <div class="container-fluid a-color">
    <div class="row">
      <div class="d-none d-lg-block col-lg-3" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= image_url("chicken-on-fence.png") %>'); background-position: center;">
        <%#= image_path("chicken-on-fence.png") %>
        <%#= image_tag("chicken-on-fence.png", class: "img-fluid w-100") %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pt-5">
        <p class="spaced-letters">
          <strong><%= "Kontakt".upcase %></strong>
        </p>
        <p class="text-white border-right">
          <b>Stiftung Tiere in Not - Animal Help</b><br />
          c/o Krepper Spring Partner <br />
          Sophienstrasse 2<br />
          8032 Zürich <br />
          <br />
          +41 (0)52 654 33 33<br />
          <%= mail_to "info@stinah.ch", "info@stinah.ch", class: "text-white" %><br />
          www.stinah.ch
        </p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <p class="spaced-letters pt-5">
          <strong><%= "Spendenkonto".upcase %></strong>
        </p>
        <p class="border-right">
          <span  class="text-white">
          Postkonto: 90-153438-8<br />
          IBAN CH03 0900 0000 9015 3438 8<br />
          BIC POFICHBEXXX

          <br /><br />
          </span>
        <span class="spaced-letters">
          <strong><%= "Newsletter".upcase %></strong>
        </span>
        </p>
        <p class="text-white">
          Newsletter Anmelden
        </p>
      </div>


      <div class="col-sm-12 col-md-4 col-lg-3">
        <p class="spaced-letters pt-5">
          <strong><%= "Social Media".upcase %></strong>
        </p>
        <p class="text-white">
          Folgen Sie uns auf Facebook und Instagram!
        </p>
      </div>
    </div>
  </div>
</footer>
