<nav class="navbar navbar-expand-md navbar-light bg-light height-200">
  <%= link_to root_path, class: "navbar-brand" do %>
      STINAH
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "AKTUELL", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Neues Zuhause gesucht", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Über Stinah", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "FAQ / Links", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Kontakt", root_path, class:"nav-link"  %>
      </li>
    </ul>

    </ul>
  </div>
</nav>
