<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
      <%= inline_svg_tag("nav-logo.svg", class: "nav-logo") %>
  <% end %>
  <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to t("aktuell"), posts_path, class:"nav-link #{'active' unless @posts.nil?}"  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle new-home-request-or-offer-nav <%= 'active' unless @animals.nil? %>" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("our_animals") %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Alle Tiere im Überblick", animals_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Tiere, die deine Unterstützung brauchen!", animals_path(params: {search_inputs: {sponsorship_status: "without_sponsorship"}}), class:"dropdown-item"  %>
          <% Animal.species.each do |species| %>
            <div class="dropdown-divider"></div>
            <%= link_to t(species, count: 2), animals_path(params: {search_inputs: {species: species}}), class:"dropdown-item"  %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to "Nachruf", animals_path(params: {search_inputs: {health_status: "dead"}}), class:"dropdown-item"  %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a id="tiervermittlung-nav-button" class="nav-link dropdown-toggle tiervermittlung-nav <%= 'active' if (action_name == 'newhome') || (action_name == 'new') %>" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("tiervermittlung") %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Informationen Tiervermittlung", newhome_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Ich will ein Tier abgeben", new_home_request_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Ich biete einem Tier ein neues Zuhause", process_to_create_home_offer_path, class:"dropdown-item"  %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle about-nav  <%= 'active' if (action_name == 'about') || (action_name == 'internship') || (action_name == 'testimonials') || (!@team_members.nil?) %>" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("about_stinah") %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Über Stinah", about_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Das Team von Stinah", team_members_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Praktikum bei Stinah", internship_path, class:"dropdown-item"  %>
          <%#= link_to "Erfahrungsberichte", testimonials_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to t("testimonials"), testimonials_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to t("support"), support_path, class:"nav-link #{'active' if action_name == 'support'}"  %>
      </li>
      <li class="nav-item">
        <%= link_to t("faq"),  faq_path, class:"nav-link #{'active' if (controller_name == "static_pages" && action_name == 'faq')}"  %>
      </li>
      <li class="nav-item">
        <%= link_to t("contact"),  contact_path, class: "nav-link  #{'active' if action_name == 'contact'}"  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle about-nav  <%= 'active' if controller_name == "save_the_chicken" %>" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rettet das Huhn!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to t("save_the_chicken_welcome"), save_the_chicken_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_faq"),  save_the_chicken_faq_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_keeping"),  save_the_chicken_keeping_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_act_sustainable"),  save_the_chicken_act_sustainable_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_new_home"),  save_the_chicken_new_home_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_picture_gallery"),  save_the_chicken_picture_gallery_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_donation"),  save_the_chicken_donation_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t("save_the_chicken_contact"),  save_the_chicken_contact_path, class:"dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
