<nav class="navbar navbar-expand-md navbar-light bg-light height-200">
  <%= link_to root_path, class: "navbar-brand" do %>
      STINAH
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "News", posts_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Unsere Tiere", animals_path, class:"nav-link"  %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle new-home-request-or-offer-nav" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Unsere Tiere
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Informationen Tiervermittlung", newhome_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
            <%= link_to "Alle Tiere", animals_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
            <%= link_to "Tiere ohne Paten", animals_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle new-home-request-or-offer-nav" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tiervermittlung
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Informationen Tiervermittlung", newhome_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Ich suche ein neues Zuhause für mein Tier", new_home_request_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
          <%= link_to "Ich biete einem Tier ein neues Zuhause", new_home_offer_path, class:"dropdown-item"  %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Unterstützen!", about_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Über Stinah", about_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Team", team_path, class:"nav-link"  %>
      </li>
    </ul>
    </ul>
  </div>
</nav>
