<nav class="navbar navbar-expand-md navbar-light bg-light height-200">
  <%= link_to root_path, class: "navbar-brand" do %>
      Stinah
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "AKTUELL", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Neues Zuhause gesucht", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Über Stinah", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "FAQ / Links", root_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Kontakt", root_path, class:"nav-link"  %>
      </li>
      <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Profil bearbeiten', edit_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
      <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "Registrieren", new_user_registration_path, :class => 'nav-link'  %>
          </li>
      <% end %>
    </ul>

    </ul>
  </div>
</nav>
