<footer class="footer text-muted even-darker-base-color">
  <div class="container even-darker-base-color">
    <div class="p-3">

    </div>
    <div class="text-center">
      <%= link_to t("homepage"), root_path, class: "h4 p-2 text-white" %>
      <%= link_to t("aktuell"), posts_path, class: "h4 p-2 text-white" %>
      <%= link_to t("our_animals"), animals_path, class: "h4 p-2 text-white" %>
      <%= link_to t("tiervermittlung"), newhome_path, class: "h4 p-2 text-white" %>
      <%= link_to t("support"), support_path, class: "h4 p-2 text-white" %>
      <%= link_to t("about_stinah"), about_path, class: "h4 p-2 text-white" %>
    </div>

    <hr class="bg-lightgray">
    <div class="pb-5 pt-2 text-lightgray">
        Impressum | Cookie-Richtlinie
        <br />
        © <%= Date.today.year %> stinah.ch | Webdesign brigittekreisl.ch
    </div>
  </div>
</footer>
