<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Stiftung für Tiere in Not Animal Help' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-classic.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="bg-light">
    <%= render "layouts/navigation" unless controller_name == "save_the_chicken" %>
    <%= render "layouts/navigation_for_save_the_chicken" if controller_name == "save_the_chicken" %>
    <%= render "layouts/navigation_for_volunteers" if is_current_user_admin? || is_current_user_volunteer? || is_current_user_external_professional? %>
    <%#= render "layouts/navigation_for_sponsors" if current_user %>
    <%= render "layouts/navigation_for_admins" if is_current_user_admin? %>
    <div class="container">
      <%= flash_messages %>
    </div>
    <%= yield %>
    <%#= render 'shared/general_information' %>

    <%= render "static_pages/card_columns" %>

    <%= render "static_pages/patenschaft" %>

    <%= render "static_pages/info-cards" %>
    
    <%= render "layouts/footer" unless controller_name == "save_the_chicken" %>
    <%= render "layouts/second_footer" unless controller_name == "save_the_chicken" %>

    <%= render "layouts/footer_for_save_the_chicken" if controller_name == "save_the_chicken" %>
    <%= render "layouts/second_footer_for_save_the_chicken" if controller_name == "save_the_chicken" %>
  </body>
</html>
