<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Stiftung für Tiere in Not Animal Help' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= render "layouts/navigation_for_volunteers" if current_user %>
    <%= render "layouts/navigation_for_sponsors" if current_user %>
    <%= render "layouts/navigation_for_admins" if is_current_user_admin? %>
    <div class="container my-2">
      <%= flash_messages %>
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/second_footer" %>
  </body>
</html>
