<!DOCTYPE html>
<html>
  <head>
    <title>Stinah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= render "layouts/navigation_for_members" if current_user %>
    <div class="container my-2">
      <%= flash_messages %>
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
